body {
    background-color: #221720; /* Replace with your desired background color */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    font-family: 'Bona Nova SC', sans-serif; /* Example: Set a global font */
    color: #E9D5DA;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    ;
  }
  